<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>Внесение результатов</title>
</head>
<body>
<form th:action="@{/personal-ratings/estimate}" method="post" th:object="${visitingResultsObject}">
  <label for="result">Результат:</label>
  <select id="result" name="visitingResults123" th:field="*{visitingResult}">
    <option value="">Выберите результат</option>
    <option th:each="visitingRes : ${T(ru.urfu.squadactivityrating.squadRating.entitites.enums.VisitingResults).values()}"
            th:value="${visitingRes.name()}"
            th:text="${visitingRes.toString()}"></option>
  </select>
  <button type="submit">Отправить</button>
</form>
</body>
</html>