<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Подключение стилей Bootstrap -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Подключение скриптов Bootstrap (jQuery и Popper.js уже включены в Bootstrap) -->
  <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>Новое посещение</title>
  <link rel="stylesheet" href="/css/scrollable_list.css">
</head>
<body>
<br>
<a href="/personal-ratings"
   th:attrappend="href=${event.id == null
      ? '' : '/' + event.id}"
   class="btn btn-primary">Назад</a>
<form th:object="${newVisiting}">
  <div th:if="${event.getEventType().getEventTypeValue().typeName.equals('Производственная работа')
                || event.getEventType().getEventTypeValue().typeName.equals('Социальная работа')}">
    <label></label>
    <input newVisiting="true">
  </div>
</form>
</body>
</html>