<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>Общий рейтинг</title>
</head>
<body>
<br>
<a th:href="@{/}" class="btn btn-primary">Вернуться на главную страницу</a>
<br>
<br>
<table>
  <thead class="thead-gen-rat">
  <tr>
    <th>Место</th>
    <th>Пользователь</th>
    <th>Сумма баллов</th>
  </tr>
  </thead>
  <tbody class="tbody-gen-rat">
  <tr th:each="placeToUserToScore : ${usersToResults}">
    <td>
      <a th:text="${placeToUserToScore.firstValue}"></a>
    </td>
    <td>
      <a th:text="${placeToUserToScore.secondValue.firstValue.getFullName()}"></a>
    </td>
    <td>
      <a th:text="${placeToUserToScore.secondValue.secondValue}"></a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>