<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>Рейтинг отрядов</title>
</head>
<body>
<a th:href="@{/}" class="btn btn-primary">Вернуться на главную страницу</a>
<table>
  <thead>
  <tr>
    <th></th>
    <th><a th:href="@{/squad-ratings(eventType='sport')}">Спорт</a></th>
    <th><a th:href="@{/squad-ratings(eventType='creative_work')}">Творческая работа</a></th>
    <th><a th:href="@{/squad-ratings(eventType='social_work')}">Социальная работа</a></th>
    <th><a th:href="@{/squad-ratings(eventType='production_work')}">Производственная работа</a></th>
    <th><a th:href="@{/squad-ratings(eventType='participation_in_events')}">Участие в мероприятиях</a></th>
    <th><a th:href="@{/squad-ratings(eventType='participation_in_events_URFU')}">Участие в мероприятиях Штаба СО УрФУ</a></th>
    <th><a th:href="@{/violations}">Дисциплина</a></th>
  </tr>
  </thead>
  <tbody>
<!--  <tr th:each="fighter : ${fightersWishingToJoin}">-->
<!--    <td><a th:text="${fighter.getFullName()}"></a></td>-->
<!--    <td>-->
<!--      <a th:href="@{/squads/{squadId}/membership-applications/approve/{userId}(squadId=${squadId}, userId=${fighter.getId()})}">-->
<!--        Одобрить-->
<!--      </a>-->
<!--    </td>-->
<!--    <td>-->
<!--      <a th:href="@{/squads/{squadId}/membership-applications/refuse/{userId}(squadId=${squadId}, userId=${fighter.getId()})}">-->
<!--        Отказать-->
<!--      </a>-->
<!--    </td>-->
<!--  </tr>-->
  </tbody>
</table>
</body>
</html>