<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>Нарушения</title>
  <style>
      table {
          border-collapse: collapse; /* Убирает двойные границы между соседними ячейками */
      }

      td, th {
          border: 1px solid black; /* Граница толщиной 1 пиксель, черного цвета */
      }
  </style>
</head>
<body>
<a th:href="@{/}" class="btn btn-primary">Вернуться на главную страницу</a>
<a th:href="@{/squad-ratings}" class="btn btn-primary">Назад</a>
<br>
<br>
<table>
  <thead>
  <tr>
    <th>
      <a>Название нарушения</a>
    </th>
    <th>
      <a>ФИО</a>
    </th>
    <th>
      <a>Отряд</a>
    </th>
    <th>
      <a>Тип замечания</a>
    </th>
    <th>
      <a>Дата и время</a>
    </th>
    <th>
      <a>Комментарий</a>
    </th>
    <th>
      <a>Отработано?</a>
    </th>
  </tr>
  </thead>
  <tbody>
  <div th:replace="~{squadRating/fragments/violationsList :: violationsListFragment(${notSolvedViolationsToSquadUsers})}"></div>
  <div th:replace="~{squadRating/fragments/violationsList :: violationsListFragment(${solvedViolationsToSquadUsers})}"></div>
  </tbody>
</table>
</body>
</html>