<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a th:href="@{/events/{eventId}(eventId=${event.id})}">Назад</a>
<a th:href="@{/}">Вернуться на главную страницу.</a>
<br>
<br>
<a th:href="@{/events/{id}/feedbacks/leave-feedback(id=${event.id})}">Оставить отзыв</a>
<br>
<br>
<form>
  <table>
    <thead>
    <tr>
      <td colspan="5">
        <a th:text="'Отзывы о мероприятии ' + ${event.name}"></a>
      </td>
    </tr>
    <tr>
      <th>Участник</th>
      <th>Оценка</th>
      <th>Комментарий</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="feedback : ${feedbacks}">
      <td><a th:text="${feedback.eventToSquadUser.squadUser.getFullName()}"></a></td>
      <td th:text="${feedback.rating}"></td>
      <td th:text="${feedback.comment}"></td>
    </tr>
    </tbody>
  </table>
</form>
</body>
</html>