<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/scrollable_list.css">
</head>
<body>
<a th:href="@{/events}">Назад</a>
<form th:attr="action=${event.id == null
      ? '/events' : '/events/' + event.id + '/update'}"
      method="post" th:object="${event}">
  <div>
    <label for="eName">Название мероприятия:</label>
    <input type="text" id="eName" name="eName" placeholder="Организация праздника"
           th:field="*{name}" required/>
  </div>
  <div>
    <label for="eDescr">Описание мероприятия:</label>
    <input type="text" id="eDescr" name="eDescr" placeholder="Нужно организовать праздник"
           th:field="*{description}"/>
  </div>
  <div>
    <label for="eLocat">Место проведения мероприятия:</label>
    <input type="text" id="eLocat" name="eLocat" placeholder="Екатеринбург, ул. Мира, 32"
           th:field="*{location}"/>
  </div>
  <div>
    <label for="eDateold">Прошлая дата и время проведения мероприятия:</label>
    <a id="eDateold" th:if="${event.date != null}" th:text="${event.formattedDate}"></a>
  </div>
  <div>
    <label for="eDateNew">Новая дата и время проведения мероприятия:</label>
    <input type="datetime-local" id="eDateNew" name="eDateNew" placeholder="2024-07-19 11:00:00"
           th:field="*{date}"/>
  </div>
  <div>
    <label for="eHours">Длительность мероприятия:</label>
    <table>
      <tbody>
      <tr>
        <td>
          <input type="number" id="eHours" name="hoursDuration"
                 placeholder="07"/>
        </td>
        <td>
          <input type="number" id="eMinutes" name="minutesDuration"
                 placeholder="37"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <label for="eType">Тип мероприятия:</label>
    <select id="eType" name="eventTypeValue">
      <option th:value="${event.eventType.eventTypeValue.name()}" th:if="${event.eventType.getEventTypeValue != null}"
              th:text="${event.eventType.eventTypeValue.typeName}"></option>
      <option th:each="eType : ${T(ru.urfu.squadactivityrating.eventManagement.entities.enums.EventTypes).values()}"
              th:value="${eType.name()}" th:if="${event.eventType.eventTypeValue == null
            || (event.eventType.eventTypeValue != null
            && event.eventType.eventTypeValue.getTypeName() != eType.getTypeName())}"
              th:text="${eType.getTypeName()}"></option>
    </select>
  </div>
  <div>
    <label for="fightTable">Выбрать бойцов:</label>
    <div class="table-container">
      <table id="fightTable">
        <tbody>
        <div th:each="entry, stat : ${fighters}">
          <tr th:each="fighter, fStat : ${entry.value}">
            <td>
              <input th:id="'fightCheckBox' + ${fStat.index}" type="checkbox" th:value="${fighter.id}"
                     name="selectedFightersIds" th:checked="${entry.key}"/>
            </td>
            <td><label th:for="${'fightCheckBox' + fStat.index}"
                       th:text="${fighter.getFullName()}"></label></td>
          </tr>
        </div>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <input type="reset">
  </div>
  <div><input type="submit"
              th:value="${event.id == null ? 'Создать мероприятие' : 'Обновить мероприятие'}"/></div>
</form>
</body>
</html>