<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Подключение стилей Bootstrap -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Подключение скриптов Bootstrap (jQuery и Popper.js уже включены в Bootstrap) -->
  <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <br>
  <a th:href="@{/events}" class="btn btn-primary">Назад</a>
  <a th:href="@{/events/{id}/update(id=${event.id})}" class="btn btn-primary">Редактировать информацию о мероприятии</a>
  <a href="/events/"
     th:attrappend="href=${event.id + (isParticipant
       ? '/unsubscribe' : '/subscribe')}"
     th:text="${isParticipant ? 'Отписаться от мероприятия' : 'Записаться на мероприятие'}" class="btn btn-primary"></a>
  <a th:href="@{/events/{id}/delete(id=${event.id})}" class="btn btn-danger">
    Удалить
  </a>
  <br>
  <br>
  <a th:href="@{/events/{id}/feedbacks(id=${event.id})}" class="btn btn-primary">Отзывы о мероприятии</a>
  <a th:href="@{/events/{id}/feedbacks/leave-feedback(id=${event.id})}" class="btn btn-primary"
  th:if="${isParticipant}">Оставить отзыв</a>
  <br>
</div>

<div>
  <div th:text="'Название мероприятия: ' + ${event.name}"></div>
  <div th:text="'Описание мероприятия: ' + ${event.description}"></div>
  <div th:text="'Место проведения: ' + ${event.location}"></div>
  <div th:text="'Дата проведения: ' + ${event.getFormattedDate()}"></div>
  <div th:text="'Продолжительность: ' + ${event.getFormattedDuration()}"></div>
  <div th:text="'Тип мероприятия: ' + ${event.eventType.eventTypeValue}"></div>
</div>
<div>
  <div th:text="'Участники мероприятия:'"></div>
  <div th:each="user, stat : ${event.participants}"
       th:text="${stat.count} + ') '
       + ${user.getFullName()}"></div>
</div>
</body>
</html>