<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Подключение стилей Bootstrap -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Подключение скриптов Bootstrap (jQuery и Popper.js уже включены в Bootstrap) -->
  <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title th:text="${squad.id == null ? 'Создание отряда' : 'Редактирование отряда'}">Title</title>
  <link rel="stylesheet" href="/css/scrollable_list.css">
</head>
<body>
<br>
<a th:href="@{/squads}" class="btn btn-primary">Назад</a>
<form th:attr="action=${squad.id == null
      ? '/squads' : '/squads/' + squad.id + '/update'}"
      method="post" th:object="${squad}">
  <div>
    <label for="sName">Название отряда:</label>
    <input type="text" id="sName" name="sName" placeholder="Трудовой отряд"
           th:field="*{name}" required/>
  </div>
  <div>
    <label for="sDescr">Описание отряда:</label>
    <input type="text" id="sDescr" name="sDescr" placeholder="Тут любят трудиться!"
           th:field="*{description}"/>
  </div>
  <div>
    <label for="commSelect">Выбрать командира:</label>
    <select id="commSelect" th:field="*{commander}" name="commSelect">
      <option th:value="${squad.commander.id}" th:if="${squad.commander != null}"
              th:text="${squad.commander.getFullName()}"></option>
      <option th:each="commanderr : ${commanders}" th:value="${commanderr.id}"
              th:if="${squad.getCommander() == null
                    || (squad.getCommander() != null
                    && squad.getCommander().id != commanderr.id)}"
              th:text="${commanderr.getFullName()}"></option>
    </select>
  </div>
  <div>
    <label for="fightTable">Выбрать бойцов:</label>
    <div class="table-container">
      <table id="fightTable">
        <tbody>
        <tr th:each="entry, stat : ${fighters}">
          <td>
            <input th:id="'fightCheckBox' + ${stat.index}" type="checkbox" th:value="${entry.key.id}"
                   name="selectedFightersIds" th:checked="${entry.value}"/>
          </td>
          <td><label th:for="${'fightCheckBox' + stat.index}" th:text="${entry.key.getFullName()}"></label></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <input type="reset" class="btn btn-danger">
  </div>
  <div><input type="submit"
              class="btn btn-primary"
              th:value="${squad.id == null ? 'Создать отряд' : 'Обновить отряд'}"/></div>
</form>
</body>
</html>