<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="card-header">
  <a th:href="@{/squads}">Назад</a>
  <a th:href="@{/squads/{id}/update(id=${squad.id})}">Редактировать профиль отряда</a>
  <a th:href="@{/}">Вступить</a>
  <a th:href="@{/}">Управление отрядом</a>
  <a th:href="@{/squads/{id}/delete(id=${squad.id})}">
    Удалить
  </a>
  <a th:href="@{/squads/{id}/membership-applications(id=${squad.id})}">
    Заявки на вступление
  </a>
</div>

<div class="commander-info">
  <table>
    <tr>
      <td>
        <div th:text="'Командир отряда: '"></div>
        <div th:text="${squad.commander != null
              ? squad.commander.getFullName()
              : 'Командира нет'}"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div th:text="'Описание: '"></div>
        <div th:text="${squad.description}"></div>
      </td>
    </tr>
  </table>
</div>

<div class="squad-fighters">
  <div th:text="'Участники отряда:'"></div>
  <div th:each="user, stat : ${squad.users}"
       th:text="${stat.count} + ') '
       + ${user.getFullName()}"></div>
</div>
</body>
</html>