<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form>
  <table>
    <thead>
    <tr>
      <th>Имя отряда</th>
      <th>Количество бойцов</th>
      <th>Командир</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="squad : ${squads}">
      <td th:text="${squad.name}"></td>
      <td th:text="${squad.users.size()}"></td>
      <td th:text="${squad.commander != null
                   ? squad.commander.getFullName()
                   : 'Командира нет'}"></td>
      <td><a th:href="@{/squads/{id}/delete(id=${squad.id})}">
        Удалить
      </a></td>
    </tr>
    </tbody>
  </table>
</form>
<a th:href="@{/}">Вернуться на главную страницу.</a>
</body>
</html>