<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Подключение стилей Bootstrap -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <!-- Подключение скриптов Bootstrap (jQuery и Popper.js уже включены в Bootstrap) -->
  <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a th:href="@{/squads/create}">Создать новый отряд</a>
<form>
  <table>
    <thead>
    <tr>
      <th>Имя отряда</th>
      <th>Количество бойцов</th>
      <th>Командир</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="squad : ${squads}">
      <td><a th:text="${squad.name}" th:href="@{/squads/{id}(id=${squad.id})}"></a></td>
      <td th:text="${squad.users.size()}"></td>
      <td th:text="${squad.commander != null
                   ? squad.commander.getFullName()
                   : 'Командира нет'}"></td>
      <td><a th:href="@{/squads/{id}/delete(id=${squad.id})}">
        Удалить
      </a></td>
    </tr>
    </tbody>
  </table>
</form>
<a th:href="@{/}">Вернуться на главную страницу.</a>

<script src="/webjars/bootstrap/5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>