<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Подключение стилей Bootstrap -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Подключение скриптов Bootstrap (jQuery и Popper.js уже включены в Bootstrap) -->
  <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>Карточка отряда</title>
</head>
<body>
<div class="card-header">
  <a class="btn btn-primary" th:href="@{/squads}">Все отряды</a>
  <a class="btn btn-primary" th:href="@{/squads/{id}/update(id=${squad.id})}">Редактировать профиль отряда</a>
  <a class="btn btn-primary" th:href="@{/squads/{id}/membership-applications(id=${squad.id})}">
    Заявки на вступление
  </a>
  <a class="btn btn-primary" th:href="@{/squads/{id}/membership-applications/submit-application(id=${squad.id})}">
    Подать заявку на вступление
  </a>
  <a class="btn btn-danger" th:href="@{/squads/{id}/delete(id=${squad.id})}">
    Удалить
  </a>
</div>

<div class="commander-info">
  <table>
    <tr>
      <td>
        <div th:text="'Название отряда: '"></div>
        <div th:text="${squad.name}"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div th:text="'Описание: '"></div>
        <div th:text="${squad.description}"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div th:text="'Командир отряда: '"></div>
        <div th:text="${squad.commander != null
              ? squad.commander.getFullName()
              : 'Командира нет'}"></div>
      </td>
    </tr>
  </table>
</div>

<div class="squad-fighters">
  <div th:text="'Участники отряда:'"></div>
  <div th:each="user, stat : ${squad.users}"
       th:text="${stat.count} + ') '
       + ${user.getFullName()}"></div>
</div>
</body>
</html>